body {
    background: black;
    color: white;
    font-family: Arial;
    text-align: center;
}

.titulo {
    font-size: 40px;
    margin: 20px;
    color: cyan;
}

.contenedor {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.card {
    background: #111;
    padding: 15px;
    border-radius: 10px;
    width: 300px;
}

video {
    width: 100%;
    border-radius: 10px;
}