 <h1>👑 PANEL ADMIN DR.BEAT</h1>

<a href="/">Home</a> | <a href="/logout">Salir</a>

<hr>

<h3>Usuarios registrados:</h3>
<video controls width="400">
    <source src="{{ url_for('static', filename='videos/BAD BUNNY - NUEVAYoL (Video Oficial) _ DeBÍ TiRAR MáS FOToS') }}" type="video/mp4">
</video>

<ul>
{% for u in users %}
    <li>
        {{ u.username }} - {{ u.role }}

        {% if u.username != "admin" %}
        <a href="/delete_user/{{ u.id }}">🗑 Eliminar</a>
        {% endif %}
    </li>
{% endfor %}
</ul>
