<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>DR.BEAT 🎬</title>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>

<h1 class="logo">🎬 DR.BEAT</h1>

<div class="grid">

    {% for p in peliculas %}
    <div class="card">
        <h3>{{ p.titulo }}</h3>

        {% if "youtube.com" in p.url %}
            <a href="{{ p.url }}" target="_blank" class="btn">▶ Ver</a>
        {% else %}
            <video controls>
                <source src="{{ p.url }}" type="video/mp4">
            </video>
        {% endif %}

    </div>
    {% endfor %}

</div>

</body>
</html>
