<!DOCTYPE html>
<html>
<head>
    <title>Mi Streaming</title>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="icon" href="/static/favicon.ico">
</head>

<body>

<h1 class="titulo">🎬 DR. BEAT STREAM</h1>

<div class="contenedor">
    {% for p in peliculas %}
        <div class="card">
            <h2>{{ p.titulo }}</h2>
            <video controls>
                <source src="{{ p.url }}" type="video/mp4">
            </video>
        </div>
    {% endfor %}
</div>

</body>
</html>